body{
    margin: 0px;
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

.sidebar{
    background-color: lightblue;
    padding-left: 20px;
}

.main-content{
}

.categories-section{
    background-color: grey;
    padding-left: 20px;
    color: white;
}

.header>h1{
    padding-left: 20px;
}

#categories{
    display: flex;
}

.category-header{
    border: solid 1px;
}